body, input, button, textarea, select, keygen {
    font-family: monospace;
    font: 8px monospace;
    background-color: black;
    color: green;
    font-size: 2.5em;
}

input {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: green;
    outline-width: 1px;
    outline-width-left: 0px;
    outline-width-right: 0px;
    outline-color: green;
}


